projectDocumentation/.obsidian/workspace.json
/projectDocumentation/.obsidian
projectDocumentation/.obsidian/workspace.json
/projectDocumentation/.obsidian
/code/application/.vs
/code/application/bin
/code/application/obj
code/application/obj/application.csproj.nuget.dgspec.json
/code/application/obj
