projectDocumentation/.obsidian/workspace.json
/projectDocumentation/.obsidian
projectDocumentation/.obsidian/workspace.json
/projectDocumentation/.obsidian
/code/application/.vs
/code/application/bin
/code/application/obj
